<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waveshare.miaochuu.mapper.ProjectMapper">
    <resultMap id="UserInfoMap" type="com.waveshare.miaochuu.bean.User">
        <id property="userID" column="userid"></id>
        <result property="avatarUUID" column="avataruuid"></result>
        <result property="stateMassage" column="statemassage"></result>
        <result property="userEmail" column="useremail"></result>
        <result property="userName" column="username"></result>
        <result property="exp" column="exp"></result>
        <association property="level" javaType="com.waveshare.miaochuu.bean.Level">
            <result property="levelNum" column="levelnum"></result>
            <result property="needEXP" column="needexp"></result>
            <result property="rgb" column="rgb"></result>
        </association>
    </resultMap>
    <resultMap id="ProjectMap" type="com.waveshare.miaochuu.bean.Project">

    </resultMap>
    <resultMap id="TagInfoMap" type="com.waveshare.miaochuu.bean.project.TagInfo">
    </resultMap>
    <resultMap id="VersionInfoForListMap" type="com.waveshare.miaochuu.bean.project.VersionInfoForList"></resultMap>
    <resultMap id="CommentsMap" type="com.waveshare.miaochuu.bean.project.FloorCommentInfo">

    </resultMap>

    <select id="getInfo" resultType="com.waveshare.miaochuu.bean.Project">
        select *
        from project
        where projectid = #{projectID}
          and isopen = 1;
    </select>
    <select id="getVersionInfo" resultType="com.waveshare.miaochuu.bean.Version">
        select *
        from version
        where versionid = #{versionID};
    </select>
    <select id="getTagsInfo" resultMap="TagInfoMap">


    </select>
    <select id="getDescriptionsInfo" resultType="com.waveshare.miaochuu.bean.DescriptionUnit">
        select *
        from descriptionunit
        where DescribeUnit_VersionID = #{versionID}
        order by SerialNum;
    </select>
    <select id="getForks" resultType="com.waveshare.miaochuu.bean.Fork">
        select ForkID, ForkName
        from fork
        where Fork_ProjectID = #{projectID};
    </select>
    <select id="getVersions" resultMap="VersionInfoForListMap">
        select VersionID, VersionDate, VersionNum, VideoTittle, UserID, UserName, AvatarUUID
        from user,
             version,
             fork
        where userid = version_userid
          and version_forkid = forkid
          and forkid = #{forkID}
          and isagree = 1;
    </select>
    <select id="getBulletComments" resultType="com.waveshare.miaochuu.bean.BulletComment">
        select *
        from BulletComment
        where BulletComment_VersionID = #{versionID};
    </select>
    <select id="getComments" resultMap="CommentsMap">


    </select>
    <insert id="insertFollowInfo">
        insert into `Followed&amp;Follewer`(FollowedUserID, FollewerUserID) value (#{userID},#{targetUserID});
    </insert>
    <insert id="addComment">
        insert into comment(Content, CommentDate, Comment_ProjectID, Comment_ActivityID, Reply_CommentID,
                            Floor_CommentID,
                            Comment_UserID) value (#{content},#{CommentDate},#{projectID},#{activityID},#{replyCommentID},#{floorCommentID},#{userID});
    </insert>
    <insert id="addBulletComment">
        insert into BulletComment(content, date, sendtime, BulletComment_VersionID,
                                  BulletComment_UserID) value (#{content},#{date},#{sendTime},#{versionID},#{userID});
    </insert>
    <insert id="insertProjectInFavorite">
        insert into `favorite&amp;project`(FP_FavoriteID, fp_projectid) value (#{favoriteID},#{projectID});
    </insert>
    <select id="getApplicationAreaInfoByProjectID" resultType="com.waveshare.miaochuu.bean.ApplicationArea">
        select ApplicationAreaName, imgUUID
        from ApplicationArea,
             `Project&amp;ApplicationArea`
        where PAA_ApplicationAreaID = ApplicationAreaID
          and PAA_ProjectID = #{projectID};
    </select>
    <select id="getOSInfo" resultType="com.waveshare.miaochuu.bean.OS">
        select OSName, imgUUID
        from OS,
             `Project&amp;OS`
        where PO_OSID = OSID
          and PO_ProjectID = #{projectID};
    </select>
    <select id="getFrameworkInfo" resultType="com.waveshare.miaochuu.bean.Framework">
        select FrameworkName
        from `Project&amp;Framework`,Project
        where PFW_FrameworkID=FrameworkID and PFW_ProjectID=#{projectID};
    </select>
    <select id="getUserInfo" resultMap="UserInfoMap">
        select userid,
               username,
               useremail,
               avataruuid,
               statemassage,
               exp,
               levelnum,
               needexp,
               rgb
        from user,
             level
        where userid = #{userID}
          and user_levelid = levelID;
    </select>
</mapper>
